<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="true" version="3.1">
  <servlet>
    <servlet-name>logincheck</servlet-name>
    <servlet-class>servletpackage.LogincheckServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>registercheck</servlet-name>
    <servlet-class>servletpackage.RegistercheckServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>personInfo</servlet-name>
    <servlet-class>servletpackage.PersoninfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>moreInfo</servlet-name>
    <servlet-class>servletpackage.MoreinfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>educationalInfo</servlet-name>
    <servlet-class>servletpackage.EducationalServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>manager</servlet-name>
    <servlet-class>servletpackage.ManagerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>search</servlet-name>
    <servlet-class>servletpackage.SearchServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>delete</servlet-name>
    <servlet-class>servletpackage.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logincheck</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>registercheck</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>personInfo</servlet-name>
    <url-pattern>/personInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>moreInfo</servlet-name>
    <url-pattern>/moreInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>educationalInfo</servlet-name>
    <url-pattern>/educationalServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>manager</servlet-name>
    <url-pattern>/managerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/searchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/deleteServlet</url-pattern>
  </servlet-mapping>
</web-app>